#parentBox {
    height: 900px;
    width: 900px;
    border-radius: 1%;
    background-color: green;
    display: flex;
    justify-content: space-around;
    align-content: start;
}

li {
    height: 70px;
    width: 70px;
    background-color: blue;
}