* {
    padding: 0;
    margin: 0;
}

body {
    background-color: aliceblue;
}

#sketch-area {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto 30px;
    background-color: beige;
}

.cell {
    background-color: white;
    border: 1px solid black;
}

h1, h2 {
    margin: 20px;
    text-align: center;
    font-family: cursive;
    font-size: 50px;
}

h2 {
    margin: 15px;
    font-size: 30px;
}
/* upper buttons*/
.btn_label {
    text-align: center;
    margin: 20px;
}

.lab {
    margin: 0px 10px 0px 0px;
}

.gen {
    padding: 10px 20px;
    margin-top: 15px;
    border: 1px solid #2f4a97; 
    background-color: none;
    padding: 10px 20px;
    font-size: 15px;
    font-family: "montserrat";
    cursor: pointer;
}



/*lower buttons*/
.buttons {
    text-align: center;
}

.btn {
    border: 1px solid #2f4a97; 
    background-color: none;
    padding: 10px 20px;
    margin: 0px 20px;
    font-size: 15px;
    font-family: "montserrat";
    cursor: pointer;
}